.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#414141, #000000);
}

.app__widget {
  margin-bottom: 20vh;
  width: 500px;
  padding: 60px;
  border-radius: 8px;
  background-color: #0e1111;
  box-shadow: 10px rgba(0, 0, 0, 0.5)
}

.app__widget__display {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  color: orange;
  font-size: 36px;
  font-weight: bold;
}

.app__widget__input {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px 16px;
  color: orange;
  font-size: 36px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #393F44;
  border: 2px solid orange;
}

.app__widget__input:focus {
    outline: none;
}

.app__widget__clear {
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  background-color: orange;
  border: 0;
}

.app__widget__clear:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
